@charset 'utf-8';

// color
$bg-color: (
  body: #949494,
  score: darksalmon,
  popUp: #000000,
  refresh: wheat,
  play: wheat,
  timer: white,
);
$font-color: (
  primary: #69f,
  sub: #96f,
  bgDark: white,
  bgLight: black,
);

//size
$container-size: (
  width: 800px,
  height: 500px,
);
$popUp-size: (
  width: 400px,
  height: 120px,
);
$timer-size: 100px;
$button-size: 60px;
$score-size: 50px;
$base-size: (
  default: 20px,
  margin: 8px,
);
