@charset 'utf-8';
@import 'variable';

body {
  margin: 0;
  background-color: map-get($bg-color, body);
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}

.game {
  display: flex;
  flex-direction: column;
  width: map-get($container-size, width);
  height: map-get($container-size, height);
  margin: 60px auto 0 auto;
  border-radius: map-get($base-size, default);
  background: url(../img/background.png) no-repeat center/cover;
  box-shadow: 1px 1px 5px 2px hsl(0, 0%, 45%);
}
.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: map-get($base-size, default);
}
.game__button {
  width: $button-size;
  height: $button-size;
  border: 4px solid black;
  border-radius: 5px;
  background-color: map-get($bg-color, play);
  transition: transform 300ms ease-in;
  font-size: 26px;
  &:hover {
    transform: scale(1.1);
  }
}

.game__timer {
  width: 100px;
  margin-top: 8px;
  border: 5px solid black;
  border-radius: map-get($base-size, default);
  background-color: map-get($bg-color, timer);
  text-align: center;
  font-size: 32px;
  visibility: hidden;
  user-select: none;
}
.game__score {
  width: $score-size;
  height: $score-size;
  line-height: $score-size;
  margin-top: map-get($base-size, margin);
  border-radius: 50%;
  background-color: map-get($bg-color, score);
  text-align: center;
  font-size: 36px;
  visibility: hidden;
  user-select: none;
}
.game__field {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.pop-up {
  display: block;
  width: map-get($popUp-size, width);
  height: map-get($popUp-size, height);
  margin: 0 auto;
  border-radius: map-get($base-size, default);
  padding: map-get($base-size, default);
  background-color: map-get($bg-color, popUp);
  color: map-get($font-color, bgDark);
  text-align: center;
  transform: translateY(-150%);
  &.hide {
    display: none;
  }
}
.pop-up__refresh {
  width: $button-size;
  height: $button-size;
  border: 2px solid black;
  border-radius: 50%;
  background-color: map-get($bg-color, refresh);
  font-size: 24px;
}
.pop-up__message {
  font-size: 40px;
  margin-top: map-get($base-size, margin);
}

.carrot,
.bug {
  cursor: pointer;
  transition: transform 100ms ease-in;
  &:hover {
    transform: scale(1.1);
  }
}
